html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.container{
    margin: 0 2.625em;
}

header{
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) , url("./images/header-background.png");
    /* background-image: url("./images/header-background.png"); */
    background-size: cover;
    background-position: 0 20%;
    color: white;
    padding: 4em 0;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    font-weight: 800;
}

header a{
    color: inherit;
    text-decoration: none;
    font-size: 0.875em;
}

form{
    display: flex;
    justify-content: center;
    margin: -1.5em;
}

form input{
    padding: 0.6em 0.5em 0.6em 2em;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    background-image: url("./images/search-icon.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 60%;
}

form button{
    padding: 0.5em;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    width: 20%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.movie-icon{
    display: block;
}

.movie-icon-desc{
    color: #DFDDDD;
    font-size: 1.25em;
}