html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.container{
    margin: 0 2.625em;
}

header{
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) , url("./images/header-background.png");
    /* background-image: url("./images/header-background.png"); */
    background-size: cover;
    background-position: 0 20%;
    color: white;
    padding: 4em 0;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    font-weight: 800;
}

header a{
    color: inherit;
    text-decoration: none;
    font-size: 0.875rem;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    margin-top: 2em;
}

.add-movies-btn{
    cursor: pointer;
    font-weight: 700;
    font-size: 0.875rem;
}

.add-icon{
    background-color: #111827;
    color: white;
    padding: 0.2em 0.5em;
    border-radius: 50%;
}

.watchlist-empty{
    color: #DFDDDD;
    font-weight: 700;
    font-size: 1.125rem;
}

.movie-section{
    display: flex;
    align-items: center;
    gap: 1.25em;
}

.movie-poster{
    height: 40vh;
}

.movie-header,.movie-subheader, .ratings{
    display: flex;
    align-items: center;
}

.movie-header{
    gap: 0.6em;
}

.ratings{
    gap: 0.2em;
}

.movie-title{
    font-size: 1.125rem;
    margin: 0;
}

.movie-text{
    font-size: 0.75rem;
}

.movie-subheader{
    gap: 1.5em;
    font-size: 0.75rem;
    font-weight: 400;
}

.movie-subheader p{
    margin: 0;
}

.remove-btn{
    background-color: white;
    border: none;
    cursor: pointer;
}

.remove-icon{
    background-color: #111827;
    color: white;
    padding: 0.1em 0.6em;
    border-radius: 50%;
}

.movie-plot{
    color: #6B7280;
    font-size: 0.875rem;
}


hr{
    margin-top: 1.25em;
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}